@using ShopCore.Entities.Concrete;
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">


    <div class="col-lg-12">


        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Kitap Listesi</h5>
            </div>
          
            <div class="card-body">
                <table id="scroll-vertical" class="table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ürün Adı</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                  


                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9"><span class="badge badge-border badge-gradient-danger">Kayıt bulunamadı</span></td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


